.container {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: rgb(140, 194, 255);
  color: white;
  height: 90px;
  /* position: fixed; */
  z-index: 10;
}

.thread {
  /* スレッドのスタイル */
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 3px;
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
}

.thread-content {
  /* スレッドの内容に関するスタイル */
  color: rgb(71, 85, 97);
}

.Load_button {
  background-color: rgb(167, 203, 243);
  border: 1px solid #294272;
}
