* {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
div h1 {
  text-align: center;
}

header {
  position: fixed; /*← fixedで固定 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: rgb(137, 180, 211);
  color: white;
  height: 90px;
  z-index: 10;
}

header .logo h3 {
  margin: 0;
  padding: 0;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.2s;
}

nav ul li a:hover {
  color: #003142;
}

.ThreadList_body {
  padding-top: 90px;
}
.thread {
  /* スレッドのスタイル */
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 3px;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.thread-content {
  /* スレッドの内容に関するスタイル */
  color: rgb(71, 85, 97);
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.Reply_button {
  background-color: rgb(228, 228, 228);
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.Load_button {
  background-color: rgb(167, 203, 243);
  border: none;
  border-radius: 100px;
  width: 200px;
  padding: 15px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin: 20px auto;
  display: block;
}
.Load_button:hover {
  background-color: rgb(98, 162, 235);
}
.logo {
  font-size: 28px;
}

.loading_text {
  text-align: center;
}

/* 新規スレッド作成 */
.CreateThread_body {
  padding-top: 90px;
  text-align: center;
}
.CreateThread_body form {
  margin-top: 50px;
}
.CreateThread_body button {
  margin-top: 50px;
}

/* スレッドの投稿に関するcss */

.PostList_body {
  padding-top: 90px;
  background-color: rgb(205, 246, 246);
  text-align: center;
  height: 100%;
}

.PostList_post {
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
}

.To_home_button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px;
  background-color: rgb(176, 207, 241);
  border: none;
}

.PostList_threadtitle {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(0, 84, 194); /* Change the text color to red */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
}
